.container
  h2 Sign up

  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = devise_error_messages!

    .input-field
      = f.text_field :first_name, autofocus: true, autocomplete: "first_name"
      = f.label :first_name, 'Имя'

    .input-field
      = f.text_field :last_name, autocomplete: "last_name"
      = f.label :last_name, 'Фамилия'

    .input-field
      = f.text_field :date_of_birthday, autocomplete: "date_of_birthday", class:"datepicker"
      = f.label :date_of_birthday, 'Дата рождения'

    .input-field
      = f.email_field :email, autocomplete: "email"
      = f.label :email, 'Email'

    .input-field
      = f.password_field :password, autocomplete: "new-password"
      = f.label :password, 'Пароль'
      - if @minimum_password_length
        em (
        @minimum_password_length
        characters minimum)

    .input-field
      = f.password_field :password_confirmation, autocomplete: "new-password"
      = f.label :password_confirmation, 'Повторите пароль'

    .actions
      = f.submit "Sign up", class:'btn'
