<% if current_user != @user %>
  <div id="like_form">
    <% if @likes.include?(current_user) %>
      <%= render 'unlike' %>
    <% else %>
      <%= render 'like' %>
    <% end %>
  </div>
<% end %>