- if @user.photos.attached?
  .row
    - @user.photos.each do |photo|
      .col.m3
        = image_tag photo, size: '200', class:"materialboxed", alt:photo.blob_id, data: { caption: "#{photo.created_at}"}
        span class="new badge red" data-badge-caption="like(s)" style="margin-right: 30px;"
          = @likes.where(blob_id: photo.blob_id).count
        - if !current_user.nil? && current_user != @user
          - if @likes.find_by(user_id: current_user.id, blob_id: photo.blob_id)
            = link_to 'Unlike', like_path(user_id: current_user, blob_id: photo), method: :delete
          - else
            = link_to 'Like', likes_path(user_id: current_user, blob_id: photo), method: :post
        = link_to '#', id:'comments-link' do
          span class="new badge blue" data-badge-caption="Comment(s)" style="margin-right: 30px;"
            = @comments.where(blob_id: photo.blob_id).count
        #comment-section
          - @comments.where(blob_id: photo.blob_id).each do |comment|
            ol id="comments"
              li
                p
                  strong
                    = comment.user.first_name
                    'said:
                p
                  = comment.content
        - if !current_user.nil? && current_user != @user
          = form_with model: @comment, url: comments_path(user_id: @user.id, blob_id: photo.id), local: true, method: :post do |f|
            .input-field
              = f.text_field :content
              = f.label :content, 'Add comment'
              = f.submit 'Comment'
