br
.row
  - @users.each do |user|
    .col.m3
      - if user.photos.count > 1
        .carousel.carousel-slider style="width: 235px;"
          - user.photos.each do |p|
            = link_to user_path(user), class: "carousel-item" do
              = image_tag p, size: '235'
      - else
        - user.photos.each do |p|
          = link_to user_path(user) do
            = image_tag p, size: '235'