.row class="info"
  .col.m3
    - if @user.photos.attached?
      = image_tag @user.photos.first, size: '150', class:"circle"
    - else
      p no photo
  .col.m5
    h5 @#{@user.first_name}
    - if @user.id == current_user.id
      h5 Upload new photo:
      = form_with model: @user, url: user_registration_path, local: true do |f|
        = f.file_field :photos, multiple: true
        = f.submit 'Send', url: '/send', method: :put, class:"btn"
  .col.m4.stats
    br
    = render 'stats'
    - if !current_user.nil?
      = render 'follow_form'

.row
  = render 'users/photo'