h2 Log in

= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .input-field
    = f.email_field :email, autofocus: true, autocomplete: "email"
    = f.label :email

  .input-field
    = f.password_field :password, autocomplete: "current-password"
    = f.label :password


  - if devise_mapping.rememberable?
    .field
      p
        label
          = f.check_box :remember_me

  .actions
    = f.submit "Log in", class:'btn'
br
= render "devise/shared/links"
