/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require material_icons
 *= require_tree .
 *= require_self
 */
@import " materialize ";
@import "materialize/extras/nouislider";

.alert {
  padding: 5px;
}

.alert-alert {
  background-color: #81c784;
}
.alert-notice {
  background-color: #18ffff;
}
.alert-danger {
  background-color: #ff3d00;
}
#error_explanation {
  background-color: #ff3d00;
  padding: 15px;
}
.main {
  min-height: 400px;
  text-align: center;
}
.main h2 {
  color: red;
}
.info {
  margin-top: 20px;
}

.carousel .indicators .indicator-item {
  height: 15px!important;
  width: 15px!important;
  background-color: rgba(255, 255, 255, 0.5) !important;
  margin: 10px 4px!important;
}

#comment-section {
  display: none;
}
