footer class="page-footer"
  .container
    .row
      .col.l6.s12
        h5 class="white-text" Footer Content
        p class="grey-text text-lighten-4"
          'You can use rows and columns here to organize your footer content.
      .col.l4.offset-l2.s12
        h5 class="white-text" Links
        ul
          li
            <a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
          li
            <a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
          li
            <a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
          li
            <a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
  .footer-copyright
    .container
      '© 2014 Copyright Text
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
