- if current_user != nil
  ul id="dropdown1" class="dropdown-content"
    li
      = link_to 'Profile', user_path(current_user)
    li
      = link_to 'Edit profile', edit_user_registration_path(current_user)
    li class="divider"
    li
      = link_to 'Sign out', destroy_user_session_path, method: :delete
nav
  .container
    .nav-wrapper
      = link_to 'Insta_app', root_path, class:'brand-logo'
      - if current_user != nil
        ul class="hide-on-med-and-down" style="padding-left: 150px;"
          li
            = link_to 'Index', users_path
        ul class="right hide-on-med-and-down"
          li
            <a class="dropdown-trigger" href="#!" data-target="dropdown1"><i class="material-icons right">account_box</i></a>
      - else
        ul class="right hide-on-med-and-down"
          li
            = link_to 'Sign up', new_user_registration_path
          li
            = link_to 'Login', new_user_session_path
